* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background: white;
}

.claerfix {
    clear: both;
    float: none;
}

.container {
    width: 85%;
    margin: 0px auto;
}